<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>チャットアプリ</title>
        <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        {% block extra_style %}{% endblock %}
    </head>
    <body>
        {% block header %}
        <header class="header">
            <div class="header__title">
                {% block header_title %}{% endblock %}
            </div>
            {% block talk_room %}{% endblock  %}
        </header>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <footer class="footer">
            <div class="footer__item">
                <a href="{% url 'friends' %}" class="footer__link">
                    <div class="footer__icon"><i class="fas fa-users"></i></div>
                    <div class="footer__label">友達</div>
                </a>
            </div>
            <div class="footer__item">
                <a href="{% url 'settings' %}" class="footer__link">
                    <div class="footer__icon"><i class="fas fa-user-cog"></i></div>
                    <div class="footer__label">設定</div>
                </a>
            </div>
        </footer>
        {% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>