{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static "main/css/friends.css" %}">
{% endblock  %}

{% block header_title %}友達 <i class="fas fa-users"></i> {{ user.username }}{% endblock  %}

{% block content %}
<div class="friends">
    <ul class="friends-list">
        {% for friend in friends %}
        <li class="friends-list__item">
            <a href="{% url "talk_room" friend.id %}" class="friends-list__link">
                <img src="{% if friend.icon %}{{ friend.icon.url }}{% else %}{% static 'main/img/default-icon.png' %}{% endif %}" class="friends-list__icon">
                <div class="friends-list__username">{{ friend.username }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock  %}