{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/signup.css' %}">
{% endblock %}

{% block header_title %}新規登録 <i class="fas fa-user-plus"></i>{% endblock %}

{% block content %}
<form action="{% url 'signup' %}" method="POST" class="signup-form">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="signup-form__submit">登録</button>
</form>
<a href="{% url "login" %}" class="backhome">ログイン</a>
<a href="{% url "index" %}" class="backhome">ホームへ</a>
{% endblock %}

{% block footer %}{% endblock %}