{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/talk_room.css' %}">
{% endblock  %}

{% block header_title %}{{ friend.username }}{% endblock  %}

{% block content %}
<div class="talk-room">
    <ul class="chatboard">
        {% for talk in talks %}
        <li class="chatboard__item">
            <p class="chatboard__username">
                ＞{{ talk.sender.username }}
            </p>
            <p class="chatboard__message">
                {{ talk.message }}
            </p>
            <p class="chatboard__time">
                {{ talk.time | date:"m/d" }}<br>
                {{ talk.time | date:"H:i" }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock  %}

{% block footer %}{% endblock  %}