.friends {
    padding: 64px 0;
}

.friends-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.friends-list__item {
    border-bottom: 1px solid #888;
}

.friends-list__link {
    display: flex;
    padding: 8px 16px;
    height: 64px;
}

.friends-list__item:first-child {
    border-top: 1px solid #888;
}

.friends-list__username {
    font-size: 1.2rem;
}

.friends-list__icon {
    width: 60px;
    height: 60px;
    border: 1px solid #003;
    border-radius: 50%;
    object-fit: cover;
}