.talk-room {
    padding: 64px 0 72px;
}

.chatboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chatboard__item {
    padding: 8px;
    border-bottom: 2px solid #eee;
    display: flex;
    margin-top: 8px;
    border-bottom: none;
    flex-wrap: wrap;
}

/* .chatboard__item:first-child {
    border-top: 2px solid #eee;
} */

.chatboard__item.mine .chatboard__message::before, .chatboard__item.mine .chatboard__message::after {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.chatboard__item.mine .chatboard__message::before{
    left: auto;
    right: -14px;
}

.chatboard__item.mine .chatboard__message::after{
    left: auto;
    right: -12px;
}

.chatboard__username {
    /* margin: 0 0 4px; */
    margin: 0 8px;
    font-size: 0.8rem;
}

.chatboard__message {
    margin: 0;
    word-break: break-all;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 70%;
    position: relative;
}

.chatboard__message::before, .chatboard__message::after {
    content: "";
    position: absolute;
    top: 12px;
    height: 16px;
    aspect-ratio: cos(30deg);
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}

.chatboard__message::before {
    left: -14px;
    background: #000;
    z-index: -2;
}

.chatboard__message::after {
    left: -12px;
    background: #fff;
    z-index: -1;
}

.chatboard__time {
    /* position: absolute;
    right: 16px; */
    font-size: 0.6rem;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: flex-end;
}

.chatboard__icon {
    width: 30px;
    height: 30px;
    border: 1px solid #003;
    border-radius: 50%;
    object-fit: cover;
}

.message-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #eee;
    text-align: center;
}

.message-form * {
    box-sizing: border-box;
}

.message-form input {
    width: calc(100% - 5em);
    margin: 10px 0;
    padding: 0 12px;
    border: 2px solid #131313;
    border-radius: 14px;
    font-size: 1rem;
    line-height: 24px;
}

.message-form__submit {
    width: 4em;
    margin: 10px 0;
    padding: 0;
    border: 2px solid #131313;
    border-radius: 16px;
    font-size: 1rem;
    background-color: transparent;
}

.back-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    height: 2rem;
    margin: auto;
    font-size: 2rem;
    color: #888;
}

.reload-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    height: 1rem;
    margin: auto;
    padding: 4px 0.5em;
    border: 2px solid #888;
    border-radius: 1em;
    font-size: 1.2rem;
    line-height: 1;
    color: #888;
}

.mine {
    flex-direction: row-reverse;
}